# Python
.venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# VS Code
.vscode/

# Generated data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/exports/*
!data/exports/.gitkeep

# Logs
*.log

# Temporary files
*.tmp